@model PressDistributionSystemWebApp.DTO.PublicationDistributionDTO

@{
    ViewData["Title"] = "Index";
}

<form asp-action="Index">
    <div>
        @Html.HiddenFor(model => model.Publication.Id)
        <h1>@Html.DisplayFor(model => model.Publication.Name)</h1>
        <h2>Issue no: @Html.DisplayFor(model => model.Publication.Issue)</h2>
        <h5>Available quantity: @Html.DisplayFor(model => model.Publication.Quantity)</h5>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Distributor
                </th>
                <th>
                    Quantity
                </th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Distribution.Count; i++)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(model => Model.Distribution[i].PublicationDistributorId)
                        @Html.HiddenFor(model => Model.Distribution[i].DistributorId)
                        @Html.DisplayFor(model => Model.Distribution[i].DistributorName)
                    </td>
                    <td>
                        @Html.TextBoxFor(model => Model.Distribution[i].Quantity)     
                        @Html.ValidationMessageFor(model => Model.Distribution[i].Quantity, "", new { @class = "text-danger" })

                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>


<div>
    <a asp-controller="Publications" asp-action="Index">Back to List</a>
</div>